body {
    background: #212121;
    color: #666;
}

h1 {
    text-align: center;
    color: #fff;
}

td
{
    width: 80px;
    height: 80px;
    text-align: center;
}

span{
    color: #fff;
}

.clearfix {
    clear: both;
}
.inv{

    background: #666;
}
#box {
    width: 730px;
    overflow: auto;
    margin: 40px auto;
    background: #666;
    padding-bottom: 40px;
    border-radius: 10px;
}

#turn {

    color: #fff;
}

#gameBoard  {
    float: left;
    margin: 15px;
    height: 70px;
    width: 700px;
    font-size: 50px;
    background: #333;
    color: #ccc;
    border-radius: 35px;
}
#playerName {
    color: white;
}
#oponentLogin{
    color: white;
}

#gameBoard td:hover, #reset:hover {
    cursor: pointer;
    background: #000;
}

#reset {
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
}

.o {
    color: green !important;
}

.x {
    color: red !important;
}

footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}
