<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mancala</title>
</head>
<style>
    table, th, td {
        border: 1px solid;
    }
    td {
        width: 80px;
        height: 80px;
        text-align: center;
    }
</style>
<script>

</script>
<body>
    <p hidden id="ip" th:text="${@environment.getProperty('mancala.server.ip')}"></p>
    <p hidden id="role" th:text="${role}"></p>

    <h1>Welcome to mancala</h1>
    <br>
    <div th:if="${playerID == game.getPlayer1().getId()}">

        <div th:if="${game.isOver()==true}">

            <div th:if="${game.getResult().get(6)>game.getResult().get(13)}">
                <script>
                    lobby = "http://" + document.getElementById("ip").innerHTML;
                    alert("WIN")
                    window.location.href = lobby
                </script>
            </div>
            <div th:if="${game.getResult().get(6)<game.getResult().get(13)}">
                <script>
                    lobby = "http://" + document.getElementById("ip").innerHTML;
                    alert("LOSS")
                    window.location.href = lobby
                </script>
            </div>
            <div th:if="${game.getResult().get(6)==game.getResult().get(13)}">
                <script>
                    lobby = "http://" + document.getElementById("ip").innerHTML
                    alert("TIE")
                    window.location.href = lobby
                </script>
            </div>
        </div>

        <p>I'm player 1</p>
        <table>
            <tr>
                <td style="background-color: chocolate" th:text="${game.getResult().get(13)}" rowspan="2">13</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(12)}">12</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(11)}">11</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(10)}">10</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(9)}">9</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(8)}">8</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(7)}">7</td>
                <td style="background-color: coral" th:text="${game.getResult().get(6)}" rowspan="2">6</td>
            </tr>
            <tr th:if="${game.getTurn()==true}">

                <th:block th:if="${role == 'USER'}">
                    <td style="background-color: coral" th:text="${game.getResult().get(0)}" th:onclick="|window.location.href='/play_move/0'|">0</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(1)}" th:onclick="|window.location.href='/play_move/1'|">1</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(2)}" th:onclick="|window.location.href='/play_move/2'|">2</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(3)}" th:onclick="|window.location.href='/play_move/3'|">3</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(4)}" th:onclick="|window.location.href='/play_move/4'|">4</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(5)}" th:onclick="|window.location.href='/play_move/5'|">5</td>
                </th:block>

                <th:block th:if="${role == 'GUEST'}">
                    <td style="background-color: coral" th:text="${game.getResult().get(0)}" th:onclick="|window.location.href='/guest/play_move/0'|">0</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(1)}" th:onclick="|window.location.href='/guest/play_move/1'|">1</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(2)}" th:onclick="|window.location.href='/guest/play_move/2'|">2</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(3)}" th:onclick="|window.location.href='/guest/play_move/3'|">3</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(4)}" th:onclick="|window.location.href='/guest/play_move/4'|">4</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(5)}" th:onclick="|window.location.href='/guest/play_move/5'|">5</td>
                </th:block>


            </tr>
            <tr th:if="${game.getTurn()==false}">
                <td style="background-color: cadetblue" th:text="${game.getResult().get(0)}">0</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(1)}">1</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(2)}">2</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(3)}">3</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(4)}">4</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(5)}">5</td>
            </tr>
        </table>

        <div th:if="${game.getTurn() == true}">
            <h4 style="color: red">It's your turn</h4>
        </div>

        <div th:if="${game.getTurn() == false}">
            <h4 style="color: red">It's your opponents turn</h4>

            <script>
                var isGuest;

                if(document.getElementById("role").innerHTML == "GUEST"){
                    isGuest = "/guest";
                }
                else{
                    isGuest = "";
                }

                const gameStateUrl = "http://" + document.getElementById("ip").innerHTML + isGuest + "/checkIfGameIsReady";
                const gameUrl = "http://" + document.getElementById("ip").innerHTML + isGuest + "/game";
                const refreshGame = "http://" + document.getElementById("ip").innerHTML + isGuest + "/refreshGame";

                function getGameInfo(callback)
                {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function() {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                            callback(xmlHttp.responseText);
                    }
                    xmlHttp.open("GET", gameStateUrl, true); // true for asynchronous
                    xmlHttp.send(null);
                }

                function sout(response){
                    var obj = JSON.parse(response)

                    if(obj.turn == true){
                        window.location.href = gameUrl
                    }

                    if(obj.opponentRefreshed == false){
                        window.location.href = refreshGame
                    }
                }

                function checkIfItsMyTurn() {
                    getGameInfo(sout)
                }

                setInterval(checkIfItsMyTurn, 500);
            </script>
        </div>
    </div>


    <div th:if="${playerID == game.getPlayer2().getId()}">
        <p>I'm player 2</p>

        <div th:if="${game.isOver()==true}">

            <div th:if="${game.getResult().get(6)<game.getResult().get(13)}">
                <script>
                    lobby = "http://" + document.getElementById("ip").innerHTML;
                    alert("WIN")
                    window.location.href = lobby
                </script>
            </div>
            <div th:if="${game.getResult().get(6)>game.getResult().get(13)}">
                <script>
                    lobby = "http://" + document.getElementById("ip").innerHTML;
                    alert("LOSS")
                    window.location.href = lobby
                </script>
            </div>
            <div th:if="${game.getResult().get(6)==game.getResult().get(13)}">
                <script>
                    lobby = "http://" + document.getElementById("ip").innerHTML;
                    alert("TIE")
                    window.location.href = lobby
                </script>
            </div>
        </div>

        <table>
            <tr>
                <td style="background-color: chocolate" th:text="${game.getResult().get(6)}" rowspan="2">6</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(5)}">5</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(4)}">4</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(3)}">3</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(2)}">2</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(1)}">1</td>
                <td style="background-color: chocolate" th:text="${game.getResult().get(0)}">0</td>
                <td style="background-color: coral" th:text="${game.getResult().get(13)}" rowspan="2">13</td>
            </tr>



            <tr th:if="${game.getTurn()==false}">

                <th:block th:if="${role == 'USER'}">
                    <td style="background-color: coral" th:text="${game.getResult().get(7)}" th:onclick="|window.location.href='/play_move/7'|">7</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(8)}" th:onclick="|window.location.href='/play_move/8'|">8</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(9)}" th:onclick="|window.location.href='/play_move/9'|">9</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(10)}" th:onclick="|window.location.href='/play_move/10'|">10</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(11)}" th:onclick="|window.location.href='/play_move/11'|">11</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(12)}" th:onclick="|window.location.href='/play_move/12'|">12</td>
                </th:block>

                <th:block th:if="${role == 'GUEST'}">
                    <td style="background-color: coral" th:text="${game.getResult().get(7)}" th:onclick="|window.location.href='/guest/play_move/7'|">7</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(8)}" th:onclick="|window.location.href='/guest/play_move/8'|">8</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(9)}" th:onclick="|window.location.href='/guest/play_move/9'|">9</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(10)}" th:onclick="|window.location.href='/guest/play_move/10'|">10</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(11)}" th:onclick="|window.location.href='/guest/play_move/11'|">11</td>
                    <td style="background-color: coral" th:text="${game.getResult().get(12)}" th:onclick="|window.location.href='/guest/play_move/12'|">12</td>
                </th:block>




            </tr>


            <tr th:if="${game.getTurn()==true}">
                <td style="background-color: cadetblue" th:text="${game.getResult().get(7)}">7</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(8)}">8</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(9)}">9</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(10)}">10</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(11)}">11</td>
                <td style="background-color: cadetblue" th:text="${game.getResult().get(12)}">12</td>
            </tr>
        </table>

        <div th:if="${game.getTurn() == true}">
            <h4 style="color: red">It's your opponents turn</h4>

                    <script>
                        var isGuest;

                        if(document.getElementById("role").innerHTML == "GUEST"){
                            isGuest = "/guest";
                        }
                        else{
                            isGuest = "";
                        }

                        const gameStateUrl = "http://" + document.getElementById("ip").innerHTML + isGuest + "/checkIfGameIsReady";
                        const gameUrl = "http://" + document.getElementById("ip").innerHTML + isGuest + "/game";
                        const refreshGame = "http://" + document.getElementById("ip").innerHTML + isGuest + "/refreshGame";

                        function getGameInfo(callback)
                        {
                            var xmlHttp = new XMLHttpRequest();
                            xmlHttp.onreadystatechange = function() {
                                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                                    callback(xmlHttp.responseText);
                            }
                            xmlHttp.open("GET", gameStateUrl, true); // true for asynchronous
                            xmlHttp.send(null);
                        }

                        function sout(response){
                            var obj = JSON.parse(response)

                            if(obj.turn == false){
                                window.location.href = gameUrl
                            }

                            if(obj.opponentRefreshed == false){
                                window.location.href = refreshGame
                            }
                        }

                        function checkIfItsMyTurn() {
                            getGameInfo(sout)
                        }

                        setInterval(checkIfItsMyTurn, 500);
                    </script>
        </div>

        <div th:if="${game.getTurn() == false}">
            <h4 style="color: red">It's your turn</h4>
        </div>
    </div>

</body>
</html>