<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Finding opponent..</title>
</head>

    <p hidden id="ip" th:text="${@environment.getProperty('mancala.server.ip')}"></p>
    <p hidden id="role" th:text="${role}"></p>

<script>
    var isGuest;

    if(document.getElementById("role").innerHTML == "GUEST"){
        isGuest = "/guest";
    }
    else{
        isGuest = "";
    }

    const checkUrl = "http://" + document.getElementById("ip").innerHTML + isGuest + "/checkIfGameIsReady";
    const gameUrl = "http://" + document.getElementById("ip").innerHTML + isGuest + "/game";

    function sout(response){
        if(response!=""){
            console.log(response)
            window.location.href = gameUrl
        }
    }

    function httpGetAsync(callback)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", checkUrl, true); // true for asynchronous
        xmlHttp.send(null);
    }

    function doSomething() {
        httpGetAsync(sout);
    }

    setInterval(doSomething, 500);
</script>

<body>
  <h1>In Queue...</h1>
  <th:block>
      <div th:if="${role=='GUEST'}">
          <button type="button" th:onclick="|window.location.href='/guest/stop_queue'|">STOP QUEUE</button>
      </div>
      <div th:if="${role=='USER'}">
          <button type="button" th:onclick="|window.location.href='/stop_queue'|">STOP QUEUE</button>
      </div>
  </th:block>
</body>
</html>