<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mancala leaderboard</title>
</head>
<body>
<table>
  <tr>
    <th>Username</th>
    <th>Number of wins</th>
  </tr>

  <tr th:each="entry : ${leaderboard}">
    <td><span th:text="${entry.username}">Username </span></td>
    <td><span th:text="${entry.numberOfWins}">Username </span></td>
  </tr>
</table>
</body>
</html>