<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <style>
        table, th, td{
            border: 1px solid black;
            padding: 7px;
        }
    </style>
</head>
<body>
<table id="history">
    <thead>
    <tr>
        <th> Game ID </th>
        <th> Player 1 </th>
        <th> Player 2 </th>
        <th> Player 1 score </th>
        <th> Player 2 score </th>
        <th> Winner </th>
        <th> Game started at </th>
        <th> Game finished at </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="playerGame : ${history}">
        <td><span th:text="${playerGame.getId()}"> Game ID </span></td>
        <td><span th:text="${playerGame.getPlayer1username()}"> Player 1 </span></td>
        <td><span th:text="${playerGame.getPlayer2username()}"> Player 2 </span></td>
        <td><span th:text="${playerGame.getPlayer1score()}"> Player 1 score </span></td>
        <td><span th:text="${playerGame.getPlayer2score()}"> Player 2 score </span></td>
        <td th:switch="${playerGame.getWinnerId()}">
            <span th:case="${playerGame.getPlayer1id()}" th:text="${playerGame.getPlayer1username()}"> Player1 won </span>
            <span th:case="${playerGame.getPlayer2id()}" th:text="${playerGame.getPlayer2username()}"> Player2 won </span>
            <span th:case="'-1'" th:text="Tie"> Tie </span>
        </td>
        <td><span th:text="${playerGame.getStartedAt()}"> Game started at </span></td>
        <td><span th:text="${playerGame.getEndedAt()}"> Game finished at </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>