<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<script>

  function formValidator(){

    var username = document.getElementById('username');
    var email = document.getElementById('email');
    var password = document.getElementById('password');
    var confirm_password = document.getElementById("confirm_password")


    if(isAlphabet(username, "Enter valid username")){
      if(emailValidator(email, "Enter valid email")){
        if(checkPasswords(password, confirm_password, "Passwords not matching")){
          return true
        }
      }
    }
    return false
  }

  function checkPasswords(password, confirmed_password, helperMsg){
    if(password.value === confirmed_password.value){
      return true;
    }
    else {
      alert(helperMsg)
      password.value = ""
      confirmed_password.value = ""
      password.focus()
      return false
    }
  }

  function isAlphabet(elem, helperMsg){
    var usernameRegex = /^[a-zA-Z0-9]+$/;

    if(elem.value.match(usernameRegex)) {
      return true
    }
    else {
      alert(helperMsg)
      elem.focus()
      return false
    }
  }

  function emailValidator(elem, helperMsg){

    const emailExp = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

    if(elem.value.match(emailExp)){
      return true
    }else{
      alert(helperMsg)
      elem.focus()
      return false
    }
  }
</script>




<h1>Register</h1>
<form th:action="@{/signup}" method="post" th:object="${registrationRequest}" enctype="multipart/form-data" th:onsubmit="return formValidator()">

  <label>Username</label>
  <input id="username" type="text" th:field="*{username}" required minlength="3" maxlength="16"></br>

  <label>Email</label>
  <input id="email" type="text" th:field="*{email}" required minlength="3" maxlength="32"></br>

  <label>Password</label>
  <input id="password" type="password" th:field="*{password}" required minlength="6" maxlength="49"></br>

  <label>Confirm password</label>
  <input id="confirm_password" type="password" required minlength="6" maxlength="49"></br>

  <button type="submit">Register</button>

  <div th:if="${illegalStateException != null}">
    <p style="color: red" th:text="${illegalStateException.getMessage()}"></p>
  </div>

</form>
</body>
</html>