:root{
    --text-color: rgb(0, 0, 0);
    --table-padding: 20px;
}

body{
    background-image: url(../images/hier.jpg);
    background-size: cover;

    font-family: monospace;
}

#mancalaTable{
    background-image: url(../images/papyrus.jpg);
    background-size: cover;

    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;

    width: 60vw;

    font-size: 45px;
    font-weight: bold;

    border-radius: 25px;
    border-width: 8px;

    padding: 20px;
}

.mancala{
    color: var(--text-color);

    border-radius: 20px;
    border-width: 4px;
}

.hole{
    color: var(--text-color);

    border-radius: 10px;
    border-width: 4px;
}

.playerOnMove{
    border-color: rgb(0, 190, 0);
}