$background-wh: 100%;

.background {
    background-image: url('/img/hier.jpg');
    background-size: cover;
    font-family: monospace;
    width: $background-wh;
    height: $background-wh;
    left: 0;
    top: 0;
    position: absolute;
}

.blur {
    filter: blur(10px);
    z-index: -1 !important;
}

.font {
    font-family: monospace !important;
}

.button-size {
    width: 15vw;
}

.card-button {
    margin-right: 2%!important;
}

.card-background{
    outline: 4px solid #ce7e2e;
}