.history-background {
    background-image: url('/img/history2.jpg');
    position: fixed;
    background-size: cover;
    z-index: -2;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.history {
    width: 90%;
    height: 90%;
    font-size: 24px;
    margin-top: 1vw;
    margin-left: 5vw;
}

.history-table {
    background-color: rgba(44, 44, 44, 0.705);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.history-header {
    background-color: #b3b19dda;
    -webkit-text-fill-color: rgb(0, 0, 0);   
}

.winner-box {
    background-color: rgba(172, 255, 47, 0.863);
}

.loser-box {
    background-color: rgba(255, 17, 17, 0.877);
}