$text-color: rgb(0, 0, 0);
$td-wh: 80px;

.mancala {
    color: $text-color; 
    border-radius: 20px; 
    border-width: 4px;
}


.hole {
    color: $text-color; 
    border-radius: 10px;
    border-width: 4px;
}

.on-move {
    cursor: pointer; 
    border-color: #2AAA8A !important;
}

.waiting {
    cursor: none; 
    border-color: #FF0000 !important;
}

.td {
    border: 3px solid; 
    width: $td-wh; 
    height: $td-wh; 
    text-align: center;
}