$background-wh: 100% !important;

.bg{
    background-image: url('/img/homepage3.jpg');
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    z-index: -2;
    padding-top: 20px;
}

.wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
}

.box {
    background-color: rgba(0, 0, 0, 0.753);
    outline: 4px solid #b3b19d;
    margin-left: 16%;
    margin-right: 16%;
    padding-top: 20px;
    padding-bottom: 25px;
}

.text {
    color: rgb(255, 196, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-top: 0;
}

.gamerules {
    color: rgb(255, 166, 0);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.playgame-button {
    background-color: #b3b19d!important;
    color: #495156!important;
    width: 30%;
    height: 30%!important;
}