.leaderboard-background {
    background-image: url('/img/leaderboard.jpg');
    position: fixed;
    background-size: cover;
    z-index: -2;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.leaderboard {
    width: 90%;
    height: 90%;
    font-size: 24px;
    margin-left: 5vw;
    margin-top: 1vw;
}

.leaderboard-table {
    background-color: rgba(0, 0, 0, 0.596);
    -webkit-text-fill-color: white;
}

.leaderboard-header {
    background-color: rgba(201, 123, 20, 0.829);
    -webkit-text-fill-color: rgb(0, 0, 0);
    
}