$overlay-size: 100%;
$overlay-position: 0;
$button-margin: 2%;

.overlay {
    position: fixed;
    width: $overlay-size;
    height: $overlay-size;
    top: $overlay-position;
    bottom: $overlay-position;
    left: $overlay-position;
    right: $overlay-position;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
}

.leave-button {
    width: 41%;
    margin-left: $button-margin!important;
    margin-right: $button-margin!important;
    margin-bottom: 10%!important;
}