$signup-size: 40px;
$signup-padding: 10px;

.signin-text {
  font-size: $signup-size;
  padding: $signup-padding;
}
.card-color {
  background-color: #eaebed !important;
}

.box-margins {
  margin-top: 5rem;
}
