$circle-radius: 60%;
$background-color: #5689C0;
$circle-size: 50px;

#circle {
    border-radius: $circle-radius;
    background-color: $background-color;
    width: $circle-size;
    height: $circle-size;
    padding: 5px;
}

.circle-margin {
    margin-left: 45%;
}

@media (max-width: 380px) and (min-width: 360px) {
    .circle-margin {
        margin-left: 7.5rem;
    }
}

@media (max-width: 400px) and (min-width: 380px) {
    .circle-margin {
        margin-left: 8.5rem;
    }
}

@media (max-width: 420px) and (min-width: 400px) {
    .circle-margin {
        margin-left: 9rem;
    }
}


#icon {
    margin-top: 5px;
}