.header-homepage {
    background-color: #b3b19d!important;
}

.header-game {
    background-color: #ca8c50!important;
}

.header-find {
    background-color: #e4b071!important;
}

.header-leaderboard {
    background-color: #e4b071!important;
}

.header-history {
    background-color: #b3b19d!important;
}

.header {
    align-items:flex-end;
    color: #020303!important;
}