.playercard-background {
    background-image: url("/img/papyrus.jpg");
    margin-top: 10vh;
    width: 20vw;
    margin-left: 40vw;
}

.player-text {
    font-size: 50px!important;
}

@media only screen and (max-width: 600px) {
    .player-text {
        font-size: 30px!important;
    }
  }
  