.mancala-table {
    background-image: url('/img/papyrus.jpg');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 60vw;
    font-size: 45px;
    font-weight: bold;
    border-radius: 25px;
    border-width: 8px;
    padding: 20px;
}

.table {
    border: 1px solid;
}