.username-background {
    background-color: rgba(0, 0, 0, 0.664);
    outline: 3px solid rgb(255, 251, 0);
    margin-top: 1vh;
    margin-right: 47vw;

    width: 25vw;
    height: 6vh;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.username {
    margin-top: 0;
    padding-top: 0;
}